<!DOCTYPE html>
<html lang="nl">
<head>
	{{ partial "head.html" . }}
</head>

<body>
	<!-- header -->
	{{ partial "header.html" . }}
	
	{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
		{{ .Content }}>
	{{ end }}

	<!-- footer -->
	{{ partial "footer.html" . }}
</body>
</html>