<section class="section swatch-white-blue has-top">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <header class="section-header underline">
            <h1 class="headline super hairline">{{ .Site.Params.about.title }}</h1>
            <p>{{ .Site.Params.about.text | markdownify }}</p>
        </header>
    </div>
</section>