<section class="section swatch-white-blue has-top" id="bestuur">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <header class="section-header underline">
            <h1 class="headline super hairline">Bestuur</h1>
        </header>
        <div class="row">

            <ul class="list-unstyled row box-list">
                {{ range .Site.Params.bestuur }}
                <li class="col-md-3">
                    <div class="box-round flat-shadow box-huge">
                        <div class="box-dummy"></div>
                        <figure class="box-inner">
                            <img class="svg-inject" src="{{ .Site.BaseURL }}{{ .image }}" alt="Picture of {{ .name }}" />
                        </figure>
                    </div>
                    <br/>
                    <h3 class="text-center">
                        <a>
                            {{ .name }}
                        </a>
                        <small class="block">{{ .role }}</small>
                    </h3>
                </li>
                {{end}}
            </ul>

        </div>
    </div>
</section>