<section class="section swatch-blue-white has-top" id="contact">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <header class="section-header underline">
            <h1 class="headline super hairline">Contact</h1>
        </header>
        <div class="row">
            <div class="col-md-12">
                <form class="contact-form" id="contactForm" novalidate="">
                    <div class="form-group form-icon-group">
                        <input class="form-control" id="name" placeholder="Your name *" type="text">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="form-group form-icon-group">
                        <input class="form-control" id="email" placeholder="Your email *" type="text">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="form-group form-icon-group">
                        <textarea class="form-control" id="message" placeholder="Your message" rows="10"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-icon btn-icon-right" type="submit">
                            Send email
                            <div class="hex-alt">
                                <i class="fas fa-envelope"></i>
                            </div>
                        </button>
                    </div>
                    <div id="messages"></div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
