<footer id="footer" role="contentinfo">
  <section class="section swatch-white-blue has-top">
    <div class="decor-top">
      <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
      </svg>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
            <ul class="unstyled inline small-screen-center social-icons social-background social-big">
              <li>
                <a target="_blank" href="https://www.facebook.com/hvaSIT/">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/hvasit">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.linkedin.com/company/studievereniging-innovatie-en-technologie">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div id="text-4" class="sidebar-widget widget_text">
            <div class="textwidget">
              <p>Studievereniging Innovatie & Technologie</p>
              <p> </p>
              <p>Wibautstraat 2-4</p>
              <p>1091 GM Amsterdam</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>