<header id="masthead" class="swatch-blue-white" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ .Site.BaseURL }}" class="navbar-brand">
                <img src="{{ .Site.BaseURL }}icons/logo_small2.png">
            </a>
        </div>
        <nav class="collapse navbar-collapse main-navbar" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#home">Home</a>
                </li>
                <li class="">
                    <a href="#over-ons">Over ons</a>
                </li>
                <li class="">
                    <a href="#bestuur">Bestuur</a>
                </li>
                <li class="">
                    <a href="/webshop" target="_blank">Webshop</a>
                </li>
                <li class="">
                    <a href="/contact" target="_blank">Contact</a>
                </li>
                <li class="">
                    <a href="/user/login" target="_blank">Mijn Account</a>
                </li>
                <li class="">
                    <a href="/register/" target="_blank">Word lid!</a>
                </li>
            </ul>
        </nav>
    </div>
</header>