<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""> {{ partial "favicon.html" . }}

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>

<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/theme.min.css">
<link rel="stylesheet" href="assets/css/color-defaults.min.css">
<link rel="stylesheet" href="assets/css/swatch-beige-black.min.css">
<link rel="stylesheet" href="assets/css/swatch-black-beige.min.css">
<link rel="stylesheet" href="assets/css/swatch-black-white.min.css">
<link rel="stylesheet" href="assets/css/swatch-black-yellow.min.css">
<!-- <link rel="stylesheet" href="assets/css/swatch-blue-white.min.css"> -->
<link rel="stylesheet" href="assets/css/swatch-green-white.min.css">
<link rel="stylesheet" href="assets/css/swatch-red-white.min.css">
<link rel="stylesheet" href="assets/css/swatch-white-black.min.css">
<!-- <link rel="stylesheet" href="assets/css/swatch-white-blue.min.css"> -->
<link rel="stylesheet" href="assets/css/swatch-white-green.min.css">
<link rel="stylesheet" href="assets/css/swatch-white-red.min.css">
<link rel="stylesheet" href="assets/css/swatch-yellow-black.min.css">
<link rel="stylesheet" href="assets/css/svsit-white-blue.css">
<link rel="stylesheet" href="assets/css/svsit-blue-white.css">
<link rel="stylesheet" href="assets/css/fonts.min.css" media="screen">
<style>
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #4c6a9e;
}
</style>