<section class="section swatch-blue-white" id="home">
    <div class="container">
        <header class="section-header text-center underline">
            <img src="{{ .Site.BaseURL }}logo_large.png" style="margin-bottom: 45px;">
        </header>
    </div>
</section>