<section class="section swatch-blue-white has-top" id="over-ons">
    <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
    </div>
    <div class="container">
        <header class="section-header underline">
            <h1 class="headline super hairline">Over ons</h1>
        </header>
        <div class="row">
            {{ range .Site.Params.overOns }}
            <div class="col-md-4  text-center">
                <div>
                    <img class="svg-inject" src="{{ .Site.BaseURL }}{{ .image }}" alt="Picture of {{ .name }}" />
                </div>
                <br/>
                <p>
                    {{ .text  | markdownify }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>