<!DOCTYPE html>
<html lang="nl">
<head>
	{{ partial "head.html" . }}
</head>

<body>
	<!-- header -->
	{{ partial "header.html" . }}
	{{ partial "intro.html" . }}
	{{ partial "about.html" . }}
	{{ partial "over_ons.html" . }}
	{{ partial "bestuur.html" . }}
	<!-- {{ partial "contact.html" . }} -->
	{{ partial "footer.html" . }}
</body>

 	
<script src="assets/js/packages.min.js"></script>
<script src="assets/js/theme.min.js"></script>
</html>